# === React / JavaScript ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json


# === Python / Django ===
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Ignore compiled and cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Environment & settings
.env
*.env
*.secret
*.token

# Static and media files 
staticfiles/
media/

# Django migrations
**/migrations/
!*/migrations/__init__.py

# VS Code or other IDE/editor files
*.swp
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?